{{> navbar}}
<main>
  <section class="login">
    <h1 class="login-title">Log In </h1>
    <form class="login-form" action="/login" method="post">
      <input class="login-input" type="text" name="username" placeholder="Usuario">
      <input class="login-input" type="password" name="password" placeholder="Contraseña">
      <p>Don't have an account yet? <a class="link" href="/signup">¡Sign up!</a></p>
      <button class="button" type="submit">Log In </button>
    </form>
    {{>flash}}
  </section>
</main>